<header class="header">
    <div class="container">
        <div class="header__wrapper flex --just-space --align-center">
            <a href="#" class="logo_white"><img src="img/logo-white.svg" alt="Aliance Production" class="logo_white-icon"></a>
        <nav class="menu">
            <ul class="menu__list flex">
                <li class="menu__list-item"><a href="#" class="menu__list-link --noto-sans-p">О компании</a></li>
                <li class="menu__list-item"><a href="#" class="menu__list-link --noto-sans-p">Контрактное производство</a></li>
                <li class="menu__list-item"><a href="#" class="menu__list-link --noto-sans-p">Собственные торговые марки</a></li>
                <li class="menu__list-item"><a href="#" class="menu__list-link --noto-sans-p">Новости</a></li>
                <li class="menu__list-item"><a href="#" class="menu__list-link --noto-sans-p">Контакты</a></li>
            </ul>
        </nav>
        <div class="header__contact flex --align-center">
            <a href="tel:+74996861014" class="header__contact-phone">+7 (499) 686-10-14</a>
            <button class="header__contact-callback --btn-default btn-blue">Получить консультацию</button>
        </div>
    </div>
        </div>
</header>
